@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    background-image: url('img/meta.gif');background-repeat: no-repeat;background-size: 100%;

}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
header .logo
{
    position: relative;
    max-width: 80px;
}
header ui{
    position: relative;
    display: flex;
}
header ul li{
    list-style:none;
    display: inline-block;
}

header ul li a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    font-weight: 400;
    margin-left: 40px;
    
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.content .textBox{
    position: relative;
    max-width: 600px;

}
.content .textBox h2{
    font-size: 2em;
    line-height: 1.4em;
    color:#fff;
    font-weight:500;
}
.content .textBox h2 span{ 
    color: #017143;
    font-size: 3em;
    font-weight: 900;

}

.content .textBox p{
   color: #fff;
}
.content .textBox a{
    font-size: 12px;
    font-weight: 600;
    color:white;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    text-decoration: none;
    color: #fff;
     background: #017143;
    border-radius: 40px;
    /* padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    /* font-size: 14px; */
    font-weight: 500;
    letter-spacing: 1px;
}
.content .textBox a:hover{
    transform: scale(1.2);
    border:1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 52px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: auto;
   

}
.thumb{
    position: absolute;
    left: 12%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform:translateY(-15px);

}
.thumb li img{
    max-width: 60px;
    max-height: 200px;

}
.sci{
    position: absolute;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin:5px 0;
    transform: scale(0.6);
    filter: invert(1);

}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143; 
    clip-path: circle(400px at right 800px);
    
}
/* about */
.contents{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.contents .textBox{
    position: relative;
    max-width: 600px;

}
.contents .textBox h2{
    font-size: 2em;
    line-height: 1.4em;
    color:#fff;
    font-weight:500;
}
.contents .textBox h2 span{ 
    color: #017143;
    font-size: 3em;
    font-weight: 900;

}

.contents .textBox p{
   color: #fff;
}
.contents .textBox a{
    font-size: 12px;
    font-weight: 600;
    color:white;
}

.contents .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    text-decoration: none;
    color: #fff;
     background: #017143;
    border-radius: 40px;
    /* padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    /* font-size: 14px; */
    font-weight: 500;
    letter-spacing: 1px;
}
.contents .textBox a:hover{
    transform: scale(1.2);
    border:1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.contents .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 52px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: auto;
   

}
/* login page css design */
.box 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #61f30d5b;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	z-index: 2;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(180deg);
	}
	100%
	{
		transform: rotate(90deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background: #333;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}
/* About page */
.column {
    background-color: #0C0F20;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 450px;
    gap: 50px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  .card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
/* card hover start here */
.cards{
    background-color: #0C0F20;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 450px;
    gap: 50px;
}
.list .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
}
.list .item video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
}
.list .item:hover img{
    transform: scale(1.2);
}
.list .item:hover video{
    transform: scale(1.2);
}
.list .item{
    color: #c7c3c3;
    font-family: Poppins;
    position: relative;
    transition: 0.5s;
}
.list .item .content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.list .item:hover .content{
    opacity: 1;
    transform: translateY(0);
}
.list:hover .item:not(:hover){
    filter: blur(8px);
}
/* footer start here */
p{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}

input:focus{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}


.footer{
    background: #111111;
    padding-top: 70px;
}
.footer-about{
    margin-bottom: 30px;
}
.footer-about .footer-logo{
    margin-bottom: 30px;
}
.footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h6{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: #e53637;
}
.footer-widget .footer-newslatter p{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form{
    position: relative;
}
.footer-widget .footer-newslatter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newslatter form input::placeholder{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}
.footer-copyright-text p i{
    color: #e53637;
}
.footer-copyright-text p a{
    color: #e53637;
}
 